
/*

VALE LA REGOLA PIù SPECIFICA NEL CASO, ANCHE SE SONO DENTRO UNA CLASSE SSE DENTRO C'è UN ELEMENTO DEFINITO ANCHE SOLO SUL TAG HTML STANDARD QUELLO VIENE PRESO DA LI

se non c'è una regola proprio specifica per lui prende quella di quello più esterno che trova
ES: l'h2 dentro il DIV di tipo title prende color:white del div title, invece h1 anche se è dentro quel div prende quello quello specifico per gli h1(tutti gli h1)
se volessi qualcosa di specifico dovrei fare una classe apposita per h1_dentro_titolo ad esempio e dare quella classe al h1

per avere una buona prgrammazione convine mettere sui tag quelli che proprio vogliamo abbiano titti quelli con quel tipo di tag e poi andare a definire bene con le classi
*/


html body{
    background-image: url(../img/bg.jpg);
}


/*freccia dowm e successiva amimazione*/

.arrow {
  text-align: center;
  margin: 8% 0;
  position: bottom;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.titolo{
    background-color: grey;
    text-align: center;
    border-style :solid;
    border-color: white;

    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;

    max-width: 300px;

    color :  white;

}



/*definisce quello che succede quando ci si passa sopra il mouse a quelli di classe titolo*/
/*in questo caso cambia il colore dello sfondo con una animazione rallentata*/
.titolo:hover{
    background-color: black;
    transition-duration: 0.4s;
    transform-origin: bottom;

}
/*definisce quello che succede agli h1 dentro a titolo*/
.titolo h1{

}


.my-link-row{
    padding: 0%;
    margin: 0%;
}

.linkMio{
    background-color: #131315;
    padding: 1%;
    text-align: left;
}

.ulSocial{
    list-style-type:none;
}
.ulSocial li{
    display: inline;
    padding: 10px;
}



.mainMio{
    background-color: white;
    color : black;
    padding: 1%;
    text-align: center;
}

.footerMio{
    background-color: #131315;
    color : grey;
    padding: 1%;
    text-align: center;
}
