<div class="container my-container" id="header">
	<div class="row my-link-row">
		<div class="col-12 linkMio">
			<a href="https://www.linkedin.com/in/lorenzo-ajo-bbb8a5167/" class="fa fa-linkedin distanziameli"></a>
			<a href="https://github.com/lorenzoajo" class="fa fa-github distanziameli"></a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="mainMio">
				<div style="border-top:solid">
					<ul class="list-group">
						<li class="list-group-item" style="font-weight:bold">TECNOLOGIE</li>
						<li class="list-group-item">Java</li>
						<li class="list-group-item">JEE</li>
						<li class="list-group-item">Cucumber/selenium</li>
						<li class="list-group-item">c</li>
						<li class="list-group-item">c++</li>
						<li class="list-group-item">c#</li>
						<li class="list-group-item">python</li>
						<li class="list-group-item">SQL and PSQL</li>
						<li class="list-group-item">Amgular (also angualr.js)</li>
						<li class="list-group-item">php</li>
						<li class="list-group-item">javascript</li>
					</ul>
				</div>
				<div style="border-top:solid">
					<ul class="list-group">
						<li class="list-group-item" style="font-weight:bold">INTERESSI</li>
						<li class="list-group-item">java development</li>
						<li class="list-group-item">DB administration</li>
						<li class="list-group-item">Web development</li>
						<li class="list-group-item">cyber security</li>
						<li class="list-group-item">linux system administration</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>